@import 'functions';
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&display=swap');
@import url('https://unpkg.com/flickity@2/dist/flickity.min.css');

$global__font-family: 'Space Grotesk', sans-serif !default;

$global__color--white: #fff !default;
$global__color--grey: #edf2f4 !default;
$global__color--black: #000 !default;
$global__color--make-blue: #4e619a !default;

$global__max-width: 1040px;